body {
	
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	line-height: 1.5;
	color: #333;
}

a {
	color: inherit;
}

h1, figure, p {
	text-align: center;
}

/* Debugger */

/* * {
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
 } */

@media (min-width: 400px) {
	body {
		
	}
}