body {
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 350;
	font-size: 17px;
	line-height: 1.5;
	color: #333;
}

a {
	color: inherit;
}

h1, figure, p {
	text-align: center;
}

@media (min-width: 400px) {
	body {
		
	}
}